.fa-instagram-special:before {
  content: "\f16d";
}

.fa-vimeo-special-square:before {
  content: "\f194";
}

.fa-twitter-special:before {
  content: "\f099";
}

.fa-linkedin-special:before {
  content: "\f0e1";
}