*{ margin: 0; padding: 0}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $primary;
  font-weight: $bodyContentWeight;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
  width: 100%;
  height: 100%;
  min-width: $MOBILE_WIDTH_PORTRAIT;
  margin: 0;
  color: $background;
  font-family: $primary;
  overflow: hidden;
  background-color: darken($foreground, 5);
  @include fontSmoothing(off);
}
header {
  cursor: default;
  @include noSelect;
}
ol, ul {
  list-style-type: none;
  margin: 0; padding: 0;
}

/* SPINNER */
div.spinner {
  width: 5 * $iconSize;
  height: 5 * $iconSize;
  font-size: 5 * $iconSize;
  @include transform(translateY(-6 * $iconSize));
  @include center(true, true);
  position: fixed !important;
  span {
    width: $majorGridWidth * 2;
    font-size: $bodyNormal;
    display: inline-block;
  }
  i {
    font-size: inherit;
    height: inherit;
    color: lighten($background, 15);
  }
}


a {
  text-decoration: none;
  @include transition (color $animation);
}