header.navbar {
  width: 100%;
  height: $headerHeight * 2;
  position: absolute;
  top: 0;
  background-color: $foreground;
  z-index: 3;
  transform: translateY(0px);
  @include transition(top $animation, height $animation);
  @include box-shadow(0px $minorGridWidth / 4 $minorGridWidth / 2 0px lighten($background, 50));
  &.closed { top: -$headerHeight * 2; }
  &.closed + div.home {
    top: 0 !important;
  }
  @extend %single-post;
  div#friendlies {
    position: absolute;
    z-index: 50;
    padding-left: $elementPadding;
    a {
      color: $iconColor;
      padding: 0 $elementPadding;
      cursor: pointer !important;
      @include transition(color $animation, padding $animation);
      i {
        color: inherit;
        line-height: $headerHeight * 2;
        height: $iconSize;
        font-size: $iconSize;
        @include transition(line-height $animation);
      }
      &:hover { color: black; }
    }
    a#twitter-special:hover { color: $twitter; }
    a#linkedin-special:hover { color: $linkedin; }
  }
  header#portfolio-name {
    // set width in JS for proper transitions
    height: auto;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: center;
    font-weight: $bodyContentWeight;
    @include transition(left $animation, right $animation);
    span {
      line-height: $headerHeight * 2;
      letter-spacing: 1px;
      font-size: $brand * 2;
      padding: 0px $elementPadding;
      cursor: pointer;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      &:hover, &:active, &:focus { color: $actionColor; }
      @include inline-flex(false);
      @include transition(line-height $animation, width $animation, color $animation);
    }
    span#mini { width: 87px + $elementPadding * 2; }
    span#truncated { width: 345px + $elementPadding * 2; }
    span#full { width: 495px + $elementPadding * 2; }
    span#mini, span#truncated { display: none; }
  }
  div#descriptors {
    max-height: $headerHeight;
    position: absolute;
    top: 0; right: 0; bottom: 0; margin: auto;
    max-width: $majorGridWidth * 3;
    padding-right: $elementPadding;
    overflow-x: hidden;
    @include transition(color $animation, max-width $animation, padding $animation);
    a {
      display: block;
      white-space: nowrap;
      color: $iconColor;
      font-size: $bodyNormal;
      font-family: $secondary;
      padding-right: $elementPadding;
      text-align: right;
      &:nth-of-type(1) {
        &:hover {
          color: $stanfordColor;
        }
      }
      &:nth-of-type(2) {
        &:hover {
          color: $ayasdiColor;
        }
      }
      span {
        height: $headerHeight / 2;
        display: inline-block;
      }
    }
  }
}

@include tablet-iOS {
  span#truncated {
    @include inline-flex(false);
  }
  span#full  {
    display: none !important;
  }
}
@include mobile($FIRST_RESPONSE) {
  div#friendlies {
    a {
      padding: 0 $minorGridWidth * 2 !important;
    }
  }
  span#truncated {
    @include inline-flex(true);
  }
  span#full  {
    display: none !important;
  }
}

@include mobile($SECOND_RESPONSE) {
  span#truncated {
    display: none !important;
  }
  span#mini {
    @include inline-flex(true);
  }
}

@include mobile($THIRD_RESPONSE) {
  header.navbar {
    height: $headerHeight !important;
    div#friendlies {
      i {
        line-height: $headerHeight !important;
      }
    }
    header#portfolio-name {
      span {
        width: 100% !important;
        line-height: $headerHeight !important;
      }
    }
    div#descriptors {
      max-width: 0 !important;
      padding: 0 !important;
    }
  }
}