ol.posts {
  height: 100%;  width: 75%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  @include transition(width $animation);
  li.post {
    margin: $elementPadding;
    background-color: $foreground;
    border: $border darken($panelColor, 10);
    @include box-shadow(0px $minorGridWidth / 3 $minorGridWidth / 4 0px transparentize($panelTextColor, 0.75));
    a.post-title {
      min-height: $headerHeight;
      border-bottom: $border darken($panelColor, 10);
      color: $iconColor;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      display: block;
      &:hover {
        span.title { color: $actionColor; }
      }
      span.title {
        max-width: calc(100% - #{$majorGridWidth*2} + #{$elementPadding * 2});
        padding: $elementPadding;
        font-size: $brand * 1.5;
        font-weight: $bodyTitleWeight;
        line-height: $headerHeight;
        display: inline-block;
        text-align: left;
        color: inherit;
        @include transition(color $animation);
      }
      span.date {
        width: $majorGridWidth * 2;
        text-align: right;
        float: right;
        position: absolute;
        font-family: $secondary;
        height: 12px;
        color: inherit;
        display: inline-block;
        position: absolute; margin: auto;
        padding: 0 $elementPadding;
        top: 0; bottom: 0; right: 0;
        font-size: $bodySmall;
      }
    }
    div.post-body {
      height: auto;
      position: relative;
      background-color: lighten($foreground, 10);
      padding: $elementPadding;
      font-family: $secondary;
      color: #555;
      letter-spacing: 0.5px;
      @include box-shadow(inset -1px 0 $elementPadding / 2 $shadowColor);
      img {
        width: 90%;
        height: auto;
        align: center !important;
        clear: both !important;
        left: 5%;
        position: relative;
      }
      p {
        padding: $elementPadding / 2 0;
        overflow-x: hidden;
      }
      p, li {
        line-height: $elementPadding * 1.25;
      }
      ul {
        li {
          text-indent: $minorGridWidth * 2;
        }
      }
    }
  }
}