div.resume {
  width: 100%; height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  @include flex;
  @include transition(height $animation, transform $animation);
  &.closed { @include transform(translateX(-100%)); }
  & > header {
    float: right;
    font-size: $bodyLarger;
    display: none;
  }
  div.wrapper {
    height: auto;
    max-width: $majorGridWidth * 11;
    background-color: $foreground;
    padding: 0px $elementPadding / 2;
    @include box-shadow(inset -1px 0 $elementPadding / 2 $shadowColor);
    div.section {
      width: 100%;
      max-height: $majorGridWidth * 7;
      height: auto;
      position: relative;
      display: inline-block;
      font-weight: $bodyContentWeight;
      overflow: hidden;
      @include transition(max-height $animation);
      &:nth-of-type(1) {
        margin-top: $elementPadding;
      }
      &.closed {
        max-height: $headerHeight !important;
      }
      &#skills {
        padding-bottom: $elementPadding;
      }
      header {
        line-height: $headerHeight;
        height: $headerHeight;
        font-weight: $bodyContentWeight;
        font-size: $bodyLarger;
        border-top-left-radius: $minorGridWidth;
        border-top-right-radius: $minorGridWidth;
        cursor: pointer;
        color: $iconColor;
        letter-spacing: 1px;
        @include transition(color $animation);
        &:hover {
          color: $actionColor;
          i { opacity: 1; }
        }
        span {
          width: $majorGridWidth * 2; text-align: center;
          margin: auto; position: absolute; left: 0; right: 0;
        }
        i {
          line-height: $headerHeight;
          float: right;
          margin-right: $elementPadding * 2;
          font-size: $iconSize;
          opacity: 0.01;
          @include transition(opacity $animation, transform $animation);
          &.rotated {
            @include transform(rotate(180deg));
          }
        }
      }
      div.position {
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 0 $elementPadding / 2;
        padding-top: $elementPadding;
        div.position-info {
          width: 75%;
          height: auto;
          float: left;
          span.title, span.institution {
            font-weight: $navbarWeight;
          }
        }
        ol.content {
          float: left;
          width: 75%;
          font-weight: $bodyContentWeight;
          padding-left: $elementPadding / 2;
          li.detail { 
            &:before {  
              content: " - ";  
            } 
            padding-top: $elementPadding / 2;
          }
        }
        div.date-range {
          float: right;
          width: 20%;
          height: 100%;
          margin-top: -$elementPadding;
          display: inline-block;
          color: #777;
          text-align: center;
          span {
            padding-bottom: $elementPadding / 2;
            letter-spacing: 0.5px;
            &.date-begin {
              &:after {
                content: ' -';
              }
            }
          }
        }
      }
      div.skill-block {
        width: 50%; height: auto;
        overflow: hidden;
        &:nth-of-type(1) { float: left; }
        &:nth-of-type(2n) {
          float: right;
        }
        &:nth-of-type(3n) {
          float: left;
        }
        span.title {
          width: 100%;
          display: block;
          text-align: center;
          font-weight: $navbarWeight;
          padding: $elementPadding / 2 0;
        }
        span.detail {
          line-height: $elementPadding * 1.5;
          @include transition(color $animation);
          &.easter {
            cursor: pointer;
            &:hover {
              color: $actionColor;
            }
          }
        }
        span.detail:not(:last-of-type) {
          &:after {
            content: ", ";
          }
        }
        div.details {
          width: 100%;
          height: $majorGridWidth / 2;
          display: inline-block;
        }
      }
    }
  }
}
@include mobile($SECOND_RESPONSE) {
  div.resume {
    div.section {
      div.skill-block {
        width: 100% !important;
        display: inline-block !important;
        padding: 0 $elementPadding / 2 !important;
        span.title { text-align: left !important; }
        div.details { height: auto !important; }
      }
    }
  }
}
@include mobile($THIRD_RESPONSE) {
  div.resume {
    div.section {
      max-height: $majorGridWidth * 10 !important;
    }
    span.date-begin:after {
      content: '' !important;
    }
  }
}