div.slidebar {
  width: 100%;
  height: $headerHeight * 1.5;
  margin: auto;
  position: absolute;
  bottom: 0;
  background-color: $foreground;
  z-index: 1;
  cursor: pointer !important;
  @include transition(height $animation);
  @include box-shadow(0px $minorGridWidth / -4 $minorGridWidth / 2 0px lighten($background, 50));
  &.closed { height: 0px; }
  a {
    padding: 0; margin: 0;
    float: left;
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 100%;
    color: $iconColor;
    font-weight: $bodyContentWeight;
    cursor: pointer;
    z-index: 2;
    position: relative;
    &.active {
      span {
        font-weight: $navbarWeight;
        color: $foreground;
      }
    }
    &:hover:not(.active) {
      color: black;
      span {
        background-color: lighten($actionColor, 38);
      }
    }
    span {
      margin-top: $headerHeight / 4;
      display: inline-block;
      height: $headerHeight;
      width: 75%;
      line-height: $headerHeight;
      @include transition(background-color $animation);
    }
  }
  div#selector {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    pointer: cursor;
    @include transition(left $animation);
    span {
      margin-top: $headerHeight / 4;
      display: inline-block;
      height: $headerHeight;
      width: 75%;
      line-height: $headerHeight;
      background-color: $actionColor;
    }
  }
}
@include mobile($THIRD_RESPONSE) {
  div.slidebar {
    a span {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
      line-height: $headerHeight * 1.5 !important;
    }
    div#selector {
      span {
        margin-top: 0 !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}