div.portfolio {
  width: 100%;
  height: 100%;
  position: absolute; margin: auto; left: 0; right: 0;
  max-width: $width-maxBody;
  background-color: darken($color-background, 10);
  overflow: hidden;
  @include box-shadow(1px 0 $offset / 2 lighten($color-shadow, 50));
  @include transition(top $animation, height $animation);
  & > div.content-container {
    width: 100%;
    height: 100%;
    top: $height-header * 2;
    position: absolute; margin: auto; left: 0; right: 0;
    @include transition(top $animation);
    & > div, & > ol {
      &[data-position="left"] { @include transform(translateX(-100%)); }
      &[data-position="right"] { @include transform(translateX(100%)); }
    }
  }
  &.single-post {
    div.content-container {
      height: calc(100% - #{$height-header}) !important;
      top: $height-header !important;
      ol.posts { width: 100% !important; }
      ol.microposts {
        display: none;
        img { display: none; } // for lazy loading of images
      }
      div.toggle { display: none; }
    }
    header.navbar {
      top: 0 !important;
      height: $height-header;
      div#friendlies i { line-height: $height-header !important; }
      header#portfolio-name {
        span {
          width: 100% !important;
          display: inline-block;
          text-align: right;
          line-height: $height-header !important;
        }
      }
      div#descriptors {
        max-width: 0 !important;
        padding: 0 !important;
      }
    }
    div.slidebar { @extend div.slidebar.closed; }
  }
}

@include responsiveWidth($FIRST_RESPONSE) {
  div.portfolio {
    div.home {
      div.toggle {
        visibility: visible !important; pointer-events: all !important;
      }
      ol.posts {
        width: calc(100% - #{$offset}) !important;
      }
      ol.microposts {
        width: $width-panel;
        left: 100%;
      }
    }
  }
}

@include responsiveWidth($SECOND_RESPONSE) {
  div.home ol.posts {
    li.post {
      span.title {
        font-size: $fontSize-large !important;
        line-height: $height-header / 1.5 !important;
      }
    }
  }
}

@include responsiveWidth($THIRD_RESPONSE) {
  div.portfolio {
    top: 0;
    div.content-container { top: $height-header; }
    div.home {
      ol.posts {
        width: 100% !important;
        li.post {
          margin: $offset/2 0px !important;
          span.title {
            max-width: calc(100% - #{$unit-major} + #{$offset}) !important;
          }
          span.date {
            width: $unit-major !important;
            bottom: $unit-minor * 8 !important;
          }
        }
      }
      div.toggle { display: none; }
      ol.microposts { display: none; }
    }
  }
}
