div.portfolio {
  width: 100%;
  height: 100%;
  position: absolute; margin: auto; left: 0; right: 0;
  max-width: $width-maxBody;
  background-color: darken($color-background, 10);
  overflow: hidden;
  @include box-shadow(1px 0 $offset / 2 lighten($color-shadow, 50));
  @include transition(top $animation, height $animation);
  & > div.content-container {
    width: 100%;
    height: 100%;
    top: $height-header * 2;
    position: absolute; margin: auto; left: 0; right: 0;
    @include transition(top $animation);
    & > div, & > ol {
      &.closed-left { @include transform(translateX(-100%)); }
      &.closed-right { @include transform(translateX(100%)); }
    }
  }
  &.single-post {
    div.content-container {
      height: 100% !important;
      top: $height-header;
      ol.posts { width: 100% !important; }
      ol.microposts { display: none; }
      div.toggle { display: none; }
    }
    header.navbar {
      top: 0 !important;
      height: $height-header;
      div#friendlies i { line-height: $height-header !important; }
      header#portfolio-name {
        span {
          width: 100% !important;
          display: inline-block;
          text-align: right;
          line-height: $height-header !important;
        }
      }
      div#descriptors {
        max-width: 0 !important;
        padding: 0 !important;
      }
    }
    div.slidebar { @extend div.slidebar.closed; }
  }
}

@include responsiveWidth($THIRD_RESPONSE) {
  div.portfolio {
    top: 0;
    div.content-container { top: $height-header; }
  }
}