<script id="about-template" type="text/template">
  <li class="background-image">
    <div class="image" style="background-image:url('<%= thing.image %>')"></div>
    <div class="shield"></div>
    <span class="description"><%= thing.description %></span>
  </li>
</script>

<script id="form-template" type="text/template">
  <div id="contact-area">
    <div class='wrapper'>
      <header><span>Feel free to send me a message.</span></header>
      <form>

        <span class="error" id="nameErr"></span>
        <input type="text" placeholder="name" name="Name" id="name" />

        <span class="error" id="emailErr"></span>
        <input type="text" placeholder="email" name="Email" id="email" />

        <span class="error" id="messageErr"></span>
        <textarea placeholder="hi hi hi..." name="Message" rows="20" cols="20" id="message"></textarea>

        <input type="submit" name="submit" value="submit" class="submit-button" />
        <span class="message-status disappear" id="messageStatus"></span>
      </form>
      
      <div style="clear: both;"></div>
    </div>
  </div>
</script>