<div id="friendlies">
  <% _.each(friendlies, function (friendly) { %> 
    <a id="<%= friendly.name %>" href="<%= friendly.url %>">
      <i class="fa fa-<%= friendly.name %>"></i>
    </a>
  <% }); %>
</div>
<header id="portfolio-name">
  <span id="mini"><%= mini %></span>
  <span id="truncated"><%= truncated %></span>
  <span id="full"><%= full %></span>
</header>
<div id="descriptors">
  <% _.each(descriptors, function (descriptor) { %>
    <a href="<%= descriptor.url %>">
      <span><%= descriptor.name %></span>
    </a>
  <% }); %>
</div>
