ol.posts {
  height: 100%;
  width: calc(100% - #{$width-panel});
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  @include allowSelect;
  li.post {
    margin: $offset;
    background-color: $color-background;
    border: $border darken($color-panel, 10);
    @include box-shadow(0px 2px 2px transparentize($color-foreground, 0.75));
    &[data-display="none"] {
      display: none;
      img, object { display: none; } // for lazy loading of images
    }
    a.post-title {
      min-height: $height-header;
      border-bottom: $border darken($color-panel, 10);
      color: $color-icon;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      &:hover span.title { color: $color-highlight; }
      span.title {
        padding: $offset;
        font-size: $fontSize-larger;
        font-weight: $fontWeight-title;
        line-height: $height-header;
        display: inline-block;
        text-align: left;
        color: inherit;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        white-space: normal;
        @include transition(color $animation);
      }
      span.date {
        top: 0;
        min-width: $unit-major / 1.25;
        height: auto;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        text-align: right;
        font-family: $font-body;
        color: inherit;
        display: inline-block;
        position: relative;
        font-size: $fontSize-small;
        span.date-content {
          width: auto;
          height: $fontSize-large;
          padding-right: $offset;
          @include center(true, true);
        }
      }
    }
    div.post-body {
      height: auto;
      position: relative;
      padding: $offset;
      font-family: $font-body;
      color: $color-foreground;
      font-size: $fontSize-medium;
      letter-spacing: 0.5px;
      img {
        max-width: 90%;
        height: auto;
        align: center !important;
        clear: both !important;
        left: 5%;
        position: relative;
        opacity: 1;
        @include transition(opacity $animation);
        &.loading {
          @include transition(left $animation);
          opacity: 0;
        }
      }
      p {
        padding: $offset / 2 0;
        overflow-x: hidden;
        span { white-space: normal; }
      }
      p, li { line-height: $offset * 1.25; }
      ul > li { text-indent: $unit-minor * 2; }
      ol, ul {
        font-size: $fontSize-normal;
        list-style-type: initial;
        margin-left: $unit-major/2;
      }
      blockquote.code-block, pre {
        width: auto;
        background-color: $color-code;
        padding: 0 $offset;
        *:not(blockquote) {
          font-size: $fontSize-code;
          font-family: $font-code;
          line-height: 1;
          padding-top: $unit-minor;
          padding-bottom: $unit-minor;
        }
      }
    }
  }
}