<script id="resume-template" type="text/template">
  <div class="wrapper">
    <% _.each([resume.education, resume.professional], function (section) { %>
      <div class="section" id=<%= section.name %>>
        <header class="section-header">
          <span><%= section.name %></span>
          <i class="fa fa-caret-down"></i>
        </header>
        <% _.each(section.positions, function (position) { %>
          <div class="position">
            <div class="position-info">
              <span class="title"><%= position.title %>, </span>
              <span class="institution"><%= position.name %></span></span>
            </div>
            <ol class="content">
              <% _.each(position.details, function (detail) { %>
                <li class="detail"><%= detail %></li>
              <% }); %>
            </ol>
            <div class="date-range">
              <span class="date-begin"><%= position.date_range[0] %></span>
              <span class="date-end"><%= position.date_range[1] %></span>
            </div>
          </div>
        <% }); %>
      </div>
    <% }); %>
    <div class="section" id="skills">
      <header class="section-header"><span>skills</span><i class="fa fa-caret-down"></i></header>
      <% _.each(resume.skills, function (skill) { %>
        <div class="skill-block">
          <span class="title"><%= skill.title %></span>
          <div class="details">
            <% _.each(skill.details, function (detail) { %>
              <span class="detail" data-id="<%= detail %>"><%= detail %></span>
            <% }); %>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</script>